@page
@model ORABANK.Pages.Pénalité.IndexModel
@{
}

<head>
    <link rel="stylesheet" media="all" href="../mystyle.css" />
    <style>
        body{
            background-image : linear-gradient(green,white);
        }

    </style>
</head>
<body>

<br >
<h2>Liste des pénalités </h2>

<a class="btn btn-primary btn-sm" href="/Penalite/Create">Nouvelle Pénalité </a>
<!--
    <a class="btn btn-primary btn-sm" href="/Penalite/Demande">Demande de suppression Pénalité </a>
-->
<a class="btn btn-primary btn-sm" href="/Penalite/Recherche">Recherche </a>

<h4 > Nombres de pénalités : </h4>

<table class="table">

    <tdiv>
        <tr>

            <th>ID</th>
            <th>Filiale</th>
            <th>Date</th>
            <th>Montant total</th>
            <th>Montant cfa</th>
            <th>Montant monnaie local</th>
            <th>Payement</th>
            <th>Motif</th>
            <th>Loi</th>
            <th>Observation</th>
            <th>Devise</th>
            <th>Actions</th>

        </tr>

    </tdiv>

    <tdiv>
        @foreach(var sdi in Model.listPenalite)
        {
            <tr>
                <td>@sdi.id_penalite</td>
                <td>@sdi.filiale</td>
                <td>@sdi.date_penalite</td>
                <td>@sdi.montant_total</td>
                <td>@sdi.montant_cfa</td>
                <td>@sdi.montant_monnaie_local</td>
                <td>@sdi.payement</td>
                <td>@sdi.motif</td>
                <td>@sdi.loi</td>
                <td>@sdi.observation</td>
                <td>@sdi.devise</td>

                <td>
                    <a class="btn btn-primary btn-sm" href="/Penalite/Edit?id_penalite=@sdi.id_penalite">Modifier</a>
            
                </td>
            </tr>

          
        }
    </tdiv>


</table>
</body>